[Desktop Entry]
Name=ArchSciFiGreen
X-KDE-PluginInfo-Name=ArchSciFiGreen
X-KDE-PluginInfo-Author=Dharam Dhurandhar
X-KDE-PluginInfo-Email=rkstrdee@gmail.com
X-KDE-PluginInfo-License=GPLv3
