[Desktop Entry]
Name=ArchSciFiBlue
X-KDE-PluginInfo-Name=ArchSciFiBlue
X-KDE-PluginInfo-Author=Dharam Dhurandhar
X-KDE-PluginInfo-Email=rkstrdee@gmail.com
X-KDE-PluginInfo-License=GPLv3
